<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769466339656-of8bepdnmk0fcu89f99im70aab324ohl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769466339656-of8bepdnmk0fcu89f99im70aab324ohl</string>
	<key>API_KEY</key>
	<string>AIzaSyD7VfRlewCAInGzQiMmqx0H4frLiUcqs8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>769466339656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopApp</string>
	<key>PROJECT_ID</key>
	<string>jmarket-9aa0f</string>
	<key>STORAGE_BUCKET</key>
	<string>jmarket-9aa0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769466339656:ios:e9eef7b8970892c684a37d</string>
	<key>DATABASE_URL</key>
	<string>https://jmarket-9aa0f-default-rtdb.firebaseio.com</string>
</dict>
</plist>